---
layout: archive
permalink: /teaching/
author_profile: true
---

{% include base_path %}

## Teaching at EPFL

* Parallel and high-performance computing, TA, Spring 2022
  Exercise session. Vectorization, MP, MPI and CUDA in the fidis and helvetios supercomputers. The final project was the paralelization of Conjugate gradient code in C using MPI and CUDA.
* Algèbre linéaire avancée I, TA, Spring 2021

## Teaching at Universidad Nacional de Colombia

* Fundamentals of heat transfer, TA, Spring 2011
  Classic heat transfer lab. Small heat conductivity experiments, natural convection measurements and test of a heat exchanger efficiency.
* Mathematical modeling, TA, Fall 2011
  Introductory class of mathematical modeling for engineering. Small introduction of ordinary and partial differential equations. Exercises with some toy problems (SIR models, Lotka–Volterra equations, the heat equation). Most of the course was to develop a small project in Matlab depending of the interest of each student.
* Applied engineering project, TA, Fall 2011
  I supervised small industrial and research projects of undergraduate students teams. It is a lot of fun to see small projects go through the design, construction and test phases.

  <!--{% for post in site.teaching reversed %}
  {% include archive-single.html %}
  {% endfor %}--!>
